.contact {
	padding: 50px 0;

	color: #fff;
	background-color: #606060;
}

.contact__heading {
	margin: 0; 
	margin-bottom: 80px;
}

.contact__list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.contact__item {
	position: relative;
	margin-right: $column-gap;
	padding-top: 60px;
	max-width: 270px;

	&:last-child {
		margin-right: 0;
	};

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;

		background-repeat: no-repeat;
	};

	&--flag::before {
		width: 32px;
		height: 38px;

		background-image: url("../img/flag.png");
	}

	&--address::before {
		width: 24px;
		height: 38px;

		background-image: url("../img/address.png");
	}

	&--letter {
		max-width: 50%;

		&::before {
			width: 40px;
			height: 30px;

			background-image: url("../img/mail.png");
		}
	};
}

.contact__title {
	margin: 0;
	margin-bottom: 40px;

	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	text-transform: uppercase;
}

.contact__text {
	margin: 0;
	font-size: 15px;
}

.contact__text a {
	white-space: nowrap;
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: $light-green;
	};
}