.content__list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.content__item {
	max-width: 370px;
	/*padding-top: 50px;*/
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	};

	&:before {
		content: "";
		display: block;
		width: 45px;
		height: 45px;
		margin-bottom: 25px;

		background-image: url("../img/content-lighting.png");
		background-repeat: no-repeat;
		;
	};
}

.content__title {
	margin-bottom: 15px;

	font-size: 15px;
	line-height: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

.content__text {
	margin: 0;
	margin-bottom: 20px;
}