.feedback__columns {
	display: flex;		

	.feedback__input:nth-of-type(2n) {
		margin-left: $column-gap;
	};
}


.feedback__input {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10px;
	padding: 15px;
	border: none;
}

.feedback__button {
	display: block;
	width: 35%;
}
