.form-email {
	position: absolute;
	width: 50%;
}

.form-email__input {
	box-sizing: border-box;
	width: 100%;
	padding: 20px;

	box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.3);
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	
	&:focus {
		outline: none;
		box-shadow: 0px 0px 16px 0px #000;
	};
}

.form-email__button {
	position: absolute;
	top: 8px;
	right: 10px;
}