.page-header {
  /*height: 986px;*/
  padding-top: 60px;
  padding-bottom: 140px;

  background-image: -moz-linear-gradient( 46deg, rgb(44,153,152) 0%, rgb(111,184,141) 100%);
  background-image: -webkit-linear-gradient( 46deg, rgb(44,153,152) 0%, rgb(111,184,141) 100%);
  background-image: -ms-linear-gradient( 46deg, rgb(44,153,152) 0%, rgb(111,184,141) 100%);  
}

.page-header__container {
	text-align: center;
}

.page-header__logo {
	margin-bottom: 35px;
}

.page-header__social {
	margin-bottom: 40px;
}

.page-header__slogan {
	margin: 0;
	margin-bottom: 80px;
	
	font-weight: normal;
	font-size: 38px;
	line-height: 44px;
	color: #fff;
}