
.testimonals__title {
	margin-bottom: 20px;

	font-size: 30px;
	line-height: 33px;
	font-weight: bold;

	color: #797979;
}

.testimonals__columns {
	display: flex;

}

.testimonals__us {
	max-width: 40%;
	margin: 0;
	margin-right: 30px;
}