.time-circle__list {	
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.time-circle__item {
	/*position: relative;*/
	display: block;
	color: #fff;
	width: 140px;
		height: 140px;
		left: -40%;
		top: -20%;
		border: 4px solid #fff;
		border-radius: 50%;
	
	margin-right: 30px;
	
	&:last-child {
		margin-right: 0;
	};
}

.time-circle__number {
	display: block;
	font-size: 72px;
	line-height: 95px;
}

.time-circle__timeunit {
	font-size: 14px;
	text-transform: uppercase;
}