/*@font-face {
	font-weight: normal;
	font-family: "PT Sans";
	font-style: normal;
	src: url("fonts/PTSans.woff2") format ("woff2"),
			 url("fonts/PTSans.woff")  format ("woff");
}

@font-face {
	font-weight: normal;
	font-family: "PT Sans";
	font-style: normal;
	src: url("fonts/PTSansBold.woff2") format ("woff2"),
			 url("fonts/PTSansBold.woff")  format ("woff");
}*/

body {
	/*max-width: $desktop-width;*/
	margin: 0;
	padding: 0;

	font-family: "Raleway", Arial, sans-serif;
	font-size: 15px;
	line-height: 25px;
	font-style: thin;
	color: #000;

	background-color: #fff;
}

.container {
	margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	
	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}